<h1>All users </h1>

<% @users.each do |user|%>

<h2>Welcome <%= user.name %>! </h2>
<%= cl_image_tag(user.photo, width: 300, height: 200, alt:'user image') %>

<%= link_to "create user", new_user_path(@user) %>
<% end%>
